#container
  header 
    .subtext Examples of
    a(href='http://socket.io/', target='_blank').logo Socket.IO
    a(href='http://socket.io/', target='_blank').download
      span.version v
      span.number .7
  section.description It's not official examples. I write these examples for just learning Socket.IO v0.7+.
    | You can see official examples, chat and irc, here.
  section#simple.example
    span.title Simple Example
    input(type='button', value='connect')#simple-connect.connect
    #simple-content.textbox
    form#simple-form
      input(type='text')#simple-text
      input(type='submit', value='Submit')
    .source
      .source-left
        p.title Server
        pre.prettyprint 
          | var simple = io
          |   .sockets
          |   .on('connection', function(socket) {
          |     socket.on('message', function(data) {
          |       socket.broadcast.send(data);
          |     });
          |     socket.on('disconnect', function() {
          |       // handle disconnect
          |     });
          |    });
      .source-right
        p.title Client
        pre.prettyprint 
          | if (!socket) {
          |     socket = io.connect();
          |   }
          |   socket.on('connect', function() {
          |     $('#simple-form').css('display', 'block');
          |     $('#simple-content').append($('<p>').text('Connected'));
          |   });
          |   
          |   socket.on('message', function(msg) {
          |     $('#simple-content').append($('<p>').text(msg + ' from server'));
          |   });
          |   
          |   $('#simple-form').submit(function(e) {
          |     e.preventDefault();
          |     var textObj = $('#simple-text');   
          |     var msg = textObj.val();
          |     textObj.val('');
          |     $('#simple-content').append($('<p>').text(msg + ' from me'));
          |     socket.send(msg);
          |   });
  section#namespace.example
    span.title Namespace Example
    input(type='button', value='connect')#namespace-connect.connect
    #namespace-content.textbox
    form#namespace-form
      input(type='text')#namespace-text
      input(type='submit', value='Submit')
      
  section#custom.example
    span.title Custom Event Example
    input(type='button', value='connect')#custom-connect.connect
    #custom-content.textbox
    form#custom-form
      input(type='text')#custom-text
      input(type='submit', value='Submit')
      
  section#volatile.example
    span.title Volatile Event Example
    input(type='button', value='connect')#volatile-connect.connect
    #volatile-content.textbox

  section#room.example
    span.title Room Event Example
    input(type='button', value='connect')#room-connect.connect
    #room-content.textbox
    form#room-form
      select#room-select
        option(value='first room') first room
        option(value='second room') second room
        option(value='third room') third room
      input(type='button', value='join')#room-join
      input(type='text')#room-text
      input(type='submit', value='Submit')

  section#json.example
    span.title JSON parse Example
    input(type='button', value='connect')#json-connect.connect
    #json-content.textbox
    form#json-form
      input(type='text')#json-text
      input(type='submit', value='Submit')   
        
  footer
    | Written by 
    a(href='http://blog.outsider.ne.kr', target='_blank') Outsider
    |  at 
    a(href='http://sideeffect.kr', target='_blank') Side Effect Studio
     
a(href='https://github.com/outsideris/socket.io-examples', target='_blank')
  img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://gs1.wac.edgecastcdn.net/80460E/assets/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67', alt='Fork me on GitHub')
          
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/prettify.js')
script
  $(document).ready(function(){
     $('form').css('display', 'none');
     prettyPrint();
     
    //Simple Example
    $('#simple-connect').click(function() {
      $(this).unbind('click');
      var socket = io.connect();
      var content = $('#simple-content');
      socket.on('connect', function() {
        $('#simple-form').css('display', 'block');
        content.append($('<p>').text('Connected'));  
      });
      
      socket.on('message', function(msg) {
        $('#simple-content').append($('<p>').text(msg + ' from server'));
        content.scrollTop(content.height());
      });
      
      $('#simple-form').submit(function(e) {
        e.preventDefault();
        var textObj = $('#simple-text');   
        var msg = textObj.val();
        if (msg !== '') {
          textObj.val('');
          $('#simple-content').append($('<p>').text(msg + ' from me'));
          content.scrollTop(content.height());
          socket.send(msg);
        }
      });
    });
    
    // Namespace Example
    $('#namespace-connect').click(function() {
      $(this).unbind('click');
      var namespace = io.connect('/namespace');
      var content = $('#namespace-content');
      namespace.on('connect', function() {
        $('#namespace-form').css('display', 'block');
        content.append($('<p>').text('Connected'));
      }); 
      
      namespace.on('message', function(msg) {
        content.append($('<p>').text(msg + ' from server'));
        content.scrollTop(content.height());
      });
      
      $('#namespace-form').submit(function(e) {
        e.preventDefault();
        var textObj = $('#namespace-text');
        var msg = textObj.val();
        if (msg !== '') {
          textObj.val('');
          content.append($('<p>').text(msg + ' from me'));
          content.scrollTop(content.height());
          namespace.send(msg);
        }
      });
    });
    
    // Custom Event Example
    $('#custom-connect').click(function() {
      $(this).unbind('click');
      var custom = io.connect('/custom');
      var content = $('#custom-content');
      custom.on('connect', function() {
        $('#custom-form').css('display', 'block');
        content.append($('<p>').text('Connected'));
      }); 
      
      custom.on('fromserver', function(msg) {
        $('#custom-content').append($('<p>').text(msg + ' from server'));
        content.scrollTop(content.height());
      });
      
      $('#custom-form').submit(function(e) {
        e.preventDefault();
        var textObj = $('#custom-text');
        var msg = textObj.val();
        if (msg !== '') {
          textObj.val('');
          content.append($('<p>').text(msg + ' from me'));
          content.scrollTop(content.height());
          custom.emit('fromclient', msg);
        }
      });
    });
    
    // Volatile Event Example
    $('#volatile-connect').click(function() {
      $(this).unbind('click');
      var volatile = io.connect('/volatile');
      volatile.on('connect', function() {
        $('#volatile-content').append($('<p>').text('Connected'));
      }); 

      volatile.on('current time', function(msg) {
        var content = $('#volatile-content');
        content.append($('<p>').text(msg + ' from server'));
        content.scrollTop(content.height());
      });
    });
    
    // Room Event Example
    $('#room-connect').click(function() {
      $(this).unbind('click');
      var joined = false;
      var room = io.connect('/room');
      var content = $('#room-content');
      room.on('connect', function() {
        $('#room-form').css('display', 'block');
        content.append($('<p>').text('Connected'));
      }); 
      
      room.on('joined', function(msg) {
        content.append($('<p>').text(msg + ' from server'));
        content.scrollTop(content.height());
      });
      
      room.on('message', function(msg) {
        content.append($('<p>').text(msg + ' from server'));
        content.scrollTop(content.height());
      });
      
      $('#room-join').click(function(e) {
        joined = true;
        room.emit('join room', $('#room-select').val());
      });
      
      $('#room-form').submit(function(e) {
        e.preventDefault();
        var textObj = $('#room-text');
        var msg = textObj.val();
        if (msg !== '') {
          textObj.val('');
          content.append($('<p>').text(msg + ' from me'));
          content.scrollTop(content.height());
          room.emit('fromclient', msg);
        }
      });
    }); 
    
    //JSON Parse Example
    $('#json-connect').click(function() {
      $(this).unbind('click');
      var socket = io.connect('/json');
      var content = $('#json-content');
      socket.on('connect', function() {
        $('#json-form').css('display', 'block');
        content.append($('<p>').text('Connected'));  
      });
      
      socket.on('message', function(msg) {
        $('#json-content').append($('<p>').text(msg.text + ' from server'));
        content.scrollTop(content.height());
      });
      
      $('#json-form').submit(function(e) {
        e.preventDefault();
        var textObj = $('#json-text');   
        var msg = textObj.val();
        if (msg !== '') {
          textObj.val('');
          $('#json-content').append($('<p>').text(msg + ' from me'));
          content.scrollTop(content.height());
          socket.send(msg);
        }
      });
    });

  });
