doctype html
html
  head
    title= title
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='description', content='Socket.IO Example')
    meta(name='author', content='Outsider')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
  body
    block content
