body
  text-align center
  font-family Helvetica, arial, freesans, clean, sans-serif
  font-size 16px
  font-weight 100

a
a:active
a:visited
a:hover
  color #DB7AEE

header
  margin-top 100px
  margin-bottom 100px
  .logo
    margin-right 10px

h1
  font-size 2em
  margin-bottom 5px

.sub-title
  font-size 0.8em
