body
  background url('../images/pattern.png')
  color #fff;
  font 13px "Lucida Grande", Verdana
  padding-left 0
  margin-left 0
  
a
  color #E2E7D7
  text-shadow none
  text-decoration none
  border-bottom 1px dotted #E2E7D7
  &:hover
    border-bottom-style solid

#container 
  background url('../images/sprite.png') no-repeat 0 0
  width 830px
  
header
  position relative
  padding-top 50px
  height 200px
  
header .subtext
  font 30px "OFLSortsMillGoudyItalic"
  text-shadow 0 1px 0 #000
  left 50px
  top 58px
  position absolute
  z-index 5
  
.connect
  margin-left 10px

.example
  padding-left 50px
  
.example span.title
  font-size 2em
  
.example .textbox
  width 400px
  height 200px
  background-color #154d64
  overflow auto
  margin 5px 0

.example input[type=text]
   width 300px
   
section 
  padding-left 50px
  border-bottom 1px solid #292936
  border-top 1px solid #2993bf
  padding-top 40px
  padding-right 10px
  padding-bottom 30px
  display block
  &.description
    padding-top 20px
    border-top-width 0   

.source
  overflow hidden
  & p.title
    color #000;
    font-size 1.2em
  & pre.prettyprint
    font-size 12px
    background #000
    background rgba(0,0,0,0.3)
    text-shadow none
    font-family Monaco
    border none
    
.source-left
  width 375px
  float left
  
.source-right
  width 375px
  float right
  
footer
  padding-left 50px
  border-top 1px solid #2993bf
  padding-top 20px
  padding-right 10px
  padding-bottom 10px
  display block